.topbarContainer{
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgba(47, 11, 191, 0.801);
}
.topbarLeft{
    flex:3;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 20px;
    cursor: pointer;
}

.topbarCenter{
    flex:6;
}
.searchbar{
    margin-left: 10px;
    width:100%;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: white;
}
.searchInput{
    border: none;
    width: 70%;
}
.searchInput:focus{
    outline: none;
}
.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}
.topbarRight{
    flex:3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.topbarLink{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.topbarLinks{
    font-size: 30px !important;
    cursor: pointer;
    color: white;
}

.topbarIcons{
    display: flex;
}
.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.topIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top:-5px;
    right: -5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
}
.topbarImageItem{
   cursor: pointer; 
   border-radius: 20px;
   margin-right: 10px;;
   display: flex;
   justify-content: center;
   align-items: center;
}
.topbarImage{
 width: 35px;
 height: 35px;
 border-radius: 50%;
 object-fit: cover;
 margin-right: 5px;
 
}
.visible{
    display: none !important;
}


/* Mobile View */
@media screen and (max-device-width:480px) {
    .searchbar{
        width:25%;
        height: 40px;
        margin-left: 5px;
        border-radius: 50%;
    }
    .searchIcon{
        font-size: 24px !important;
        margin-left: 10px;
    }
    .searchInput{
        visibility: hidden;
    }
    .logo{
        margin-left: 10px;

    }
    .topbarCenter{
        display: none;
    }
    .topbarImageItem{
        display: none;
    }
    .visible{
        display: block !important;
    }
}